@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* Base de color oscuro (Para blend mode) */
  background-color: #0f172a; 
  
  /* Aplicar la imagen */
  background-image: url('/assets/background/codicezero-texture.jpeg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; /* Crucial para mantener la imagen quieta */
  background-blend-mode: overlay; 
  
  /* Altura completa */
  min-height: 100vh;
  
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-background {
  background: rgba(0, 0, 0, 0.7);
}

.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cdefs%3E%3Cfilter id='noise'%3E%3CfeTurbulence baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3C/defs%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
  mix-blend-mode: overlay;
}
.bg-zzz-noise {
  background-color: #0a0a0a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cdefs%3E%3Cfilter id='noise'%3E%3CfeTurbulence baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3C/defs%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
  mix-blend-mode: overlay;
}

/* --- CUSTOM SCROLLBAR (Webkit) --- */
::-webkit-scrollbar {
  width: 8px; /* Ancho vertical */
  height: 8px; /* Alto horizontal */
}

::-webkit-scrollbar-track { background: #0f172a; /* Color del carril (Gris muy oscuro/Azul) */ }

::-webkit-scrollbar-thumb { background: #334155; /* Color de la barra (Gris medio) */ border-radius: 4px; }

::-webkit-scrollbar-thumb:hover { background: #475569; /* Color al pasar el mouse (Un poco más claro) */ }

/* Para Firefox (Estándar moderno) */
* { scrollbar-width: thin; scrollbar-color: #334155 #0f172a; }

